# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS thumbnails
Thumbs.db

# Node
node_modules/
dist/

# Python
.venv/

# IDE / editors
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS / misc
Desktop.ini
ehthumbs.db
